<div class="container">
  <h1>Welcome to DaisyList</h1>

  <p>Here's your post</p>

  <p><span style="color: #00f;">Post Title:</span> <span style="color: #000;"><%= @post.item %></span></p>
  <p><span style="color: #00f;">Poster Name:</span> <span style="color: #000;"><%= @post.name %></span></p>
  <p><span style="color: #00f;">Post Email:</span> <span style="color: #000;"><%= @post.email %></span></p>
  <p><span style="color: #00f;">Item Price:</span> <span style="color: #000;"><%= @post.price %></span></p>
</div>
